ul li{
  list-style:none;
}

.ui-content{
  width:90%;
  /*May want to change this back to 100*/
  background: yellow;
  margin:0 auto;
}
.weather-temp, .description{
  margin:0;
  background: #000;
  text-align:center;
  
}

div img{
  width:100%;
  max-width:288px;
  height:100%;
  display:inline-block;
  margin:;
}

.weather-icon{
  margin:0 auto;
  width:100%;
  max-width:300px;
  height:300px;
/*Hook this*/  
  background: url("http://codepen.io/kmajones/pen/pJeEjp.svg") no-repeat center;
  background-size:200px;
  
}

/* Form stying */
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
width:25%;
margin:0 auto;
}

.ui-mobile label, .ui-controlgroup-label{
  margin:0 auto;
  display:block;
  background: green;
  width:20%;

}
form h4{
  margin:.2% 0; 
  text-align: center;}


.ui-btn{
  margin:1% 47%;
}